.reviews {
  position: relative;
  transform: translate(100px, 10px);
}

.similar-places {
  margin: auto;
  display: block;
  margin-left: 150px;
  margin-right: auto;
  /* z-index: -2; */
}

.Homepage {
  position: absolute;
  transform: translate(-627.5px, 360px) scale(1.41);
}

.app {
  /* position: relative; */
  z-index: 2;
}